## .NET
bin/
obj/
publish/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

## IDE
.vs/
.vscode/
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## Secrets / Environment config
appsettings.json
appsettings.*.json
